:root {
    --white: white;
    --lightgray: #f8f9fa;
    --midgray: #e5e5e5;
    --darkgray: #5b5858;
    --blue: #1c72e7;
    --darkblue: #051e34;
    --green: #1a8655;
    --yellow: #ffc107;
    --red: #dc3544;
    --notify: #ff8f00;
}

/* LAYOUT ------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

img {
    max-width: 100%;
}


/* HEADER ----------------------------------- */

.navbar {
    background-color: var(--white);
    height: 70px;
    padding: 0 10px;
}

.logo-mobile {
    width: 60px;
}

.toolbar {
    color: var(--darkgray);
}

.fa-bell {
    color: var(--notify);
}



/* SIDEBAR ----------------------------------- */

.sidebar {
    background-color: var(--darkblue);
    color: var(--white);
    background-image: url(./img/sidebar-bg.png);
    width: 70px;
}

.sidebar a {
    color: currentColor;
    text-decoration: none;
    display: flex;
}

.sidebar i {
    font-size: 18px;
    padding: 9px;
}

.sidebar p {
    display: none;
    margin: auto 0;
}


/* MAIN ----------------------------------- */

.main-data {
    background-color: var(--blue);
}





/* MEDIA QUERI ---------------------------- */

@media (min-width: 992px) {

    .sidebar {
        min-width: 140px;
    }

}